body{
    background-color:white;
    transition: background-color 1.5s ease-in 0.5s ;
}
.head
{
    font-size: 50px;
   text-align: center;
}
.button
{
    width:100px;
    height: 60px;
    border-radius:15px;
}

.container
{   margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
}
