*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    
    text-align:center;
    font-size:50px;
}
main{
    display:block;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    border-radius: 25px;
    margin-left:20%;
    margin-right:20%;
    margin-top:50px;
    padding-top:20px;
    font-size: 50px;
}
.buttons
{   margin-top: 50px;
    display:flex;
    gap:1rem;
    margin-bottom:30px;
    font-size: 20px;
    
}
.but
{
    width:70px;
    height:40px;
    border-radius: 5px;
}
.start:hover
{
    background-color: green;
}
.stop:hover
{
    background-color: red;
}
.reset:hover
{
    background-color: blue;
}
