*
{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

.moviehead
{   position:relative;
    margin:0.5px;
    border-radius:5px;
    background-color:rgb(129, 58, 192);
    color:rgb(250, 215, 250);
    font-size: 25px;
    display:flex;
    place-content:center;
    
}
.hero_h2{
    background-color: rgba(231, 98, 31, 0.75);
    color:white;
    padding:0.25em 0.5em;
    letter-spacing: 0.1rem;
    text-shadow:2px 2px 5px var(--border-color);
    position:absolute;
    left:20px;
    top:-200px;
    animation:showwelcome 0.5s ease-in-out 0.1s forwards;
}
@keyframes showwelcome{
    0%{
        top:-20px;
        transform:skew(0deg,-5deg) scaley(0);
    }

    50%{
        top:90px;
        transform:skew(10deg,-5deg) scaley(1) ;

    }
    100%{
        top:80px;
        transform:skew(-10deg,-5deg) scaley(1.2) ;

    }
    
}
.moviesection
{
    margin:60px 40px;
    
     background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Purple116/v4/8d/5f/43/8d5f431f-9ac3-0e99-b0ae-c359469fef4c/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png );
    background-size:100px 100px;
     background-repeat: no-repeat;
     background-position:center;
     
}


.moviename
{ padding-top:20px;
    padding-left:10px;
    font-weight: 10px;
    font-size:25px;
    color:rgb(75, 27, 117);
    text-decoration: underline;
}
.visual
{   margin-top:20px;
     margin-bottom:20px;
    padding-left:60px;
}
.content
{
    padding-left:40px;
    font-size: 25px;
    color:rgb(205, 54, 228);
    font-weight:100; 
}
