*
{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
body{
    background:radial-gradient(circle ,pink,whitesmoke);
    height: 100vh;
}
.head{
    text-align: center;
    font-size: 30px;
    margin-top:4px;
}

button{
    background-color: rgb(35, 35, 35);
    color:whitesmoke;
   
    width:80px;
    height:30px;
}
.content{
    margin-top:200px;
     display:flex;
     justify-content: space-evenly;
}
#toastbox
{   position:fixed;
    bottom:30px;
    right:30px;
   
}
.toast
{
    background-color:white;
    font-weight: 500;
    width:300px;
    height:50px;
    margin:15px 0;
    padding-left:3px;
    box-shadow: 0 3px 20px (rgb(39, 37, 37));
    display:flex;
    align-items: center;
     position: relative;
    transform:translateX(100%);
    animation:moveleft 0.5s linear forwards;
   
}

